* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

#content {
    width: 60%;
    height: 70%; 
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto auto;
    justify-items: start;
    align-items: baseline;

    & > #title {
        font-size: 64px;
    }

    & > #tasks {
        width: 100%;
        font-size: 32px;
        color: aliceblue;

        & > .Card-Task {
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr auto auto;
            background-color: darkslategrey;
            padding: 5px 10px;
            margin-bottom: 5px;
            border: 1px solid grey;
            border-radius: 5px;
            align-items: center;

            & > .check-Box {
                width: 20px;
                height: 20px;
                border: 2.5px solid darkgray;
                border-radius: 5px;
            }
            
            & > .fa-trash {
                font-size: 70%;
                color: rgba(255, 30, 30, 0.819);
            }

        }
    }

    & > #add-Task {
        gap: 40px;
        width: 100%;
        background: darkslategray;
        padding: 35px;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: start;
        align-items: center;

        & > #task-input {
            padding-left: 10px;
            font-size: 18px;
            width: 100%;
            height: 40px;
        }

        & > #btn {
            border-radius: 5px;
            border: none;
            padding: 20px 50px;
            background-color: brown;
            font-size: 18px;
            color: wheat;
        }
    }
}



