include ./includes/vars.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./includes/css.pug
        title Document
    body 
        #content
            h1#title Tasks: 
            #tasks
                each task , index in tasks
                    div(class = 'Card-Task' id = "Card-Task" + (index + 1) iden= "" + (index+1))
                        p(class='task-txt' id= 'task' + (index + 1) iden= "" + (index+1))=  "- " + task
                        div(class="check-Box" id="check-Box" + (index + 1) iden = "" + (index + 1))
                        |
                        |
                        <i class="fa-solid fa-trash" id="#{index+1}"></i>
                else 
                    p.task No Tasks

    include ./includes/script.pug
